source https://api.nuget.org/v3/index.json

storage: none

nuget FParsec
nuget FSharp.Core
nuget coverlet.collector
nuget FSharp.Data.LiteralProviders
nuget FsUnit
nuget Microsoft.NET.Test.Sdk
nuget NUnit